body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f7fb;
    margin: 0px;
    padding: 0px;
    color: #333;
}

header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    background: #183c60;
    color: white;
    padding: 25px 0;
}

#title {
    color: #ffffff;
    font-size: 28px;
    margin: 0;
    letter-spacing: 1px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;   
}

form, .search {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

button {
    background: #4a90e2;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

button:hover {
     background: #357abd;
}

#buttonDT {
    display: block;
    margin: 10px auto;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#submitBtn {
    width: 100%;
}

h3 {
    text-align: center;
    margin-top: 30px;
    color: #2c3e50;
}

#searchID {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#searchBtn {
    display: block;
    margin: 10px auto;
}

#result {
    max-width: 400px;
    margin: 20px auto;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

#message {
    text-align: center;
    color: rgb(77, 7, 7);
    font-weight: bold;
}

.stuNum {
    font-size: 15px;
    font-style: italic;
    color:#640404;
}